* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', 'Microsoft YaHei', sans-serif;
  background: #000;
  overflow-x: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
